/* @tailwind base; */
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NanumSquareRound";
  src: url("/fonts/NanumSquareRoundR.ttf") format("truetype"),
    url("/fonts/NanumSquareRoundB.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: "NanumSquareRound", sans-serif;
  overflow: hidden;
}

* {
  list-style: none;
  line-height: 1.6;
}

.table-caption {
  display: none;
}

/* 스크롤 custom */
.overflow-y-auto::-webkit-scrollbar {
  width: 10px;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background-color: #40454d;
  background-clip: padding-box;
  border: 3px solid transparent;
}

.overflow-y-auto::-webkit-scrollbar-track {
  background-color: transparent;
}

/* 칼라 테마 */
.theme-list span {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.theme-list span:hover {
  transform: scale(110%);
}

.theme-1 {
  background-color: #dd566a;
}

.theme-2 {
  background-color: #ffdc3f;
}

.theme-3 {
  background-color: #fc733d;
}

.theme-4 {
  background-color: #649eff;
}

.theme-5 {
  background-color: #8ec63f;
}

.theme-6 {
  background-color: #1c3261;
}

.theme-15 {
  background-color: #fab0ff;
}

.theme-7 {
  background-color: #665aa6;
}

.theme-8 {
  background: -webkit-linear-gradient(
    90deg,
    #77a37f 0%,
    #77a37f 49%,
    #f5dad3 50%,
    #f5dad3 100%
  ); /* Safari, Chrome, Edge */

  background: -moz-linear-gradient(
    90deg,
    #77a37f 0%,
    #77a37f 49%,
    #f5dad3 50%,
    #f5dad3 100%
  ); /* Firefox */

  background: linear-gradient(
    90deg,
    #77a37f 0%,
    #77a37f 49%,
    #f5dad3 50%,
    #f5dad3 100%
  ); /* 표준 */
}

.theme-9 {
  background: -webkit-linear-gradient(
    90deg,
    #77a37f 0%,
    #77a37f 49%,
    #f5dad3 50%,
    #f5dad3 100%
  ); /* Safari, Chrome, Edge */

  background: -moz-linear-gradient(
    90deg,
    #77a37f 0%,
    #77a37f 49%,
    #f5dad3 50%,
    #f5dad3 100%
  ); /* Firefox */

  background: linear-gradient(
    90deg,
    #071739 0%,
    #071739 49%,
    #e3c39d 50%,
    #e3c39d 100%
  ); /* 표준 */
}

.theme-10 {
  background: -webkit-linear-gradient(
    90deg,
    #50586c 0%,
    #50586c 49%,
    #dce2f0 50%,
    #dce2f0 100%
  ); /* Safari, Chrome, Edge */

  background: -moz-linear-gradient(
    90deg,
    #50586c 0%,
    #50586c 49%,
    #dce2f0 50%,
    #dce2f0 100%
  ); /* Firefox */

  background: linear-gradient(
    90deg,
    #50586c 0%,
    #50586c 49%,
    #dce2f0 50%,
    #dce2f0 100%
  ); /* 표준 */
}

.theme-11 {
  background: -webkit-linear-gradient(
    90deg,
    #f5d042 0%,
    #f5d042 49%,
    #0a174e 50%,
    #0a174e 100%
  ); /* Safari, Chrome, Edge */

  background: -moz-linear-gradient(
    90deg,
    #f5d042 0%,
    #f5d042 49%,
    #0a174e 50%,
    #0a174e 100%
  ); /* Firefox */

  background: linear-gradient(
    90deg,
    #f5d042 0%,
    #f5d042 49%,
    #0a174e 50%,
    #0a174e 100%
  ); /* 표준 */
}

.theme-12 {
  background: -webkit-linear-gradient(
    90deg,
    #0063b2 0%,
    #0063b2 49%,
    #9cc3d5 50%,
    #9cc3d5 100%
  ); /* Safari, Chrome, Edge */

  background: -moz-linear-gradient(
    90deg,
    #0063b2 0%,
    #0063b2 49%,
    #9cc3d5 50%,
    #9cc3d5 100%
  ); /* Firefox */

  background: linear-gradient(
    90deg,
    #0063b2 0%,
    #0063b2 49%,
    #9cc3d5 50%,
    #9cc3d5 100%
  ); /* 표준 */
}

.theme-13 {
  background: -webkit-linear-gradient(
    90deg,
    #a07855 0%,
    #a07855 49%,
    #d4b996 50%,
    #d4b996 100%
  ); /* Safari, Chrome, Edge */

  background: -moz-linear-gradient(
    90deg,
    #a07855 0%,
    #a07855 49%,
    #d4b996 50%,
    #d4b996 100%
  ); /* Firefox */

  background: linear-gradient(
    90deg,
    #a07855 0%,
    #a07855 49%,
    #d4b996 50%,
    #d4b996 100%
  ); /* 표준 */
}

.theme-14 {
  background: -webkit-linear-gradient(
    90deg,
    #df6589 0%,
    #df6589 49%,
    #3c1053 50%,
    #3c1053 100%
  ); /* Safari, Chrome, Edge */

  background: -moz-linear-gradient(
    90deg,
    #df6589 0%,
    #df6589 49%,
    #3c1053 50%,
    #3c1053 100%
  ); /* Firefox */

  background: linear-gradient(
    90deg,
    #df6589 0%,
    #df6589 49%,
    #3c1053 50%,
    #3c1053 100%
  ); /* 표준 */
}
/* prime react custom*/
.p-fieldset .p-fieldset-content {
  padding: 0;
}
