/* @tailwind base; */
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NanumSquareRound";
  src: url("/fonts/NanumSquareRoundR.ttf") format("truetype"),
    url("/fonts/NanumSquareRoundB.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: "NanumSquareRound", sans-serif;
  overflow: hidden;
}

* {
  list-style: none;
  line-height: 1.2;
}

.table-caption {
  display: none;
}

.overflow-y-auto::-webkit-scrollbar {
  width: 10px;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background-color: #40454d;
  background-clip: padding-box;
  border: 3px solid transparent;
}

.overflow-y-auto::-webkit-scrollbar-track {
  background-color: transparent;
}

/* 칼라 테마 */
.theme-list span {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.theme-list span:hover {
  transform: scale(110%);
}

.theme-1 {
  background-color: #dd566a;
}

.theme-2 {
  background-color: #ffdc3f;
}

.theme-3 {
  background-color: #fc733d;
}

.theme-4 {
  background-color: #649eff;
}

/* prime react custom*/
.p-fieldset .p-fieldset-content {
  padding: 0;
}
